<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Biblioteca Musical</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

	<script type='text/javascript'>
		var appInsights = window.appInsights || function (config) {
			function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
			var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;) r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
		}({
			instrumentationKey: '366e98ca-324e-4f79-a9ac-ea36a9c88eaa'
		});

		window.appInsights = appInsights;
		appInsights.trackPageView();
	</script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-bars"></i> Menu
					</button>
					<span class="btn btn-default disabled" style="font-size:x-large;">@ViewBag.Title</span>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						@Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "dropdown-item" })
						@Html.ActionLink("Library", "Files", "Library", new object { }, new { @class = "dropdown-item" })
						@Html.ActionLink("About", "About", "Home", new object { }, new { @class = "dropdown-item" })
						@*@Html.ActionLink("Contact", "Contact", "Home", new object { }, new { @class = "dropdown-item" })*@
						<div class="dropdown-divider"></div>
						@Html.Partial("_LoginPartial")
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Biblioteca Musical</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
